:root.theme-dark {
  /* Основные цвета и фоны */
  --accent-color: #ff0070;
  --accent-color-transparent: rgba(255, 0, 112, 0.4);
  --accent-text-color: #000028;
  --main-title-color: #db00ff;
  --text-color: #f1b2ce;
  --background-color: var(--accent-text-color);
  --background-image: url(../images/cover-image-dark.png);

  /* Декоративные элементы и оформление */
  --decoration-border-color: var(--accent-color);
  --title-color: var(--accent-color);
  --menu-list-color: var(--accent-color);
  --button-active-color: var(--accent-color);
  --button-hover-color: var(--accent-color-transparent);
  --button-focus-color: var(--accent-color);
  --decorative-element-display: block;
}

@media (prefers-color-scheme: dark) {
  :root {
    --accent-color: #ff0070;
    --accent-color-transparent: rgba(255, 0, 112, 0.4);
    --accent-text-color: #000028;
    --main-title-color: #db00ff;
    --text-color: #f1b2ce;
    --background-color: var(--accent-text-color);
    --background-image: url(../images/cover-image-dark.png);
    --decoration-border-color: var(--accent-color);
    --title-color: var(--accent-color);
    --menu-list-color: var(--accent-color);
    --button-focus-color: #ff0070;
    --button-active-color: var(--accent-color);
    --button-hover-color: var(--accent-color-transparent);
    --decorative-element-display: block;
  }
}
