/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
:root.theme-light {
  /* Цвета и фоны */
  --accent-color: #ff8dcb;
  --accent-text-color: #353430;
  --main-title-color: #ffc2e6;
  --text-color: var(--accent-text-color);
  --background-color: #fff1f7;
  --background-image: url(../images/cover-image-light.png);

  /* Декорации и рамки */
  --decoration-border-color: var(--accent-text-color);
  --title-color: var(--accent-text-color);
  --decorative-element-display: none;

  /* Стили меню и кнопок */
  --menu-list-color: var(--accent-text-color);
  --button-active-color: var(--accent-text-color);
  --button-hover-color: rgba(50, 49, 45, 0.4);
  --button-focus-color: var(--accent-text-color);
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #ff8dcb;
    --accent-text-color: #353430;
    --main-title-color: #ffc2e6;
    --text-color: var(--accent-text-color);
    --background-image: url(../images/cover-image-light.png);
    --decoration-border-color: var(--accent-text-color);
    --title-color: var(--accent-text-color);
    --menu-list-color: var(--accent-text-color);
    --button-active-color: var(--accent-text-color);
    --decorative-element-display: none;
    --button-focus-color: #353430;
    --button-hover-color: rgba(50, 49, 45, 0.4);
    --background-color: #fff1f7;
  }
}
